
.Card h3 {
    margin: auto;
    text-align: center;
}

.Card h7 {
    margin: auto;
    text-align: match-parent;
}

.Card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    background: white;
    margin: 20px;
    text-align: center;
}